@tailwind base;
@tailwind components;
@tailwind utilities;


h2{
    font-size: 40px;
}

h3{
    font-size: xx-large;
}

h4{
    font-size: 70px;
    color: #de4441;
}

.card{
    border-radius: 15px ;
    background: #fbf5fa;
    /* margin: 1em; */
    padding: 1em;
}
span:hover{
    color: #de4441;
}

.values{
    border: 2px solid #e6e6e6;
    padding: 2em;
    border-radius: 30px;

}

button{
    border-color :1px solid #524d4d;
    border-radius: 17px;
    padding: .4em 1.3em;
}

ul li {
    display: inline;
}

.max{
    /* border: 2px solid black; */
    max-width: 1400px;
    margin-inline: auto;
}

.max-width{
    max-width: 1200px;
    margin-inline: auto;
    margin-block: 2em;
}

p{
    font-weight: 300;
}


.heading {
    font-size: 70px;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay{
    border: 2px solid red;
    background-image: url('./assets/herobg.svg');

}
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 9));
    }
  }
  
  .slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }
  
  .slider .slide-track {

    display: flex;
    width: calc(250px * 18); /* Twice the original width for seamless looping */
    animation: scroll 10s linear infinite;
  }
  
  .slider .slide {
    height: 100px;
    width: 250px;
  }

  .bg{
    background-image: url(./assets/team.jpg);
    max-width: 1100px;
    margin-inline: auto;
    height: 500px;
    background-size: cover;
  }

  .hero1{
    border: 2px solid black;
    background-image: url(./assets/building.png);
    width: 400px;
    max-width: 600px;
    margin-inline: end;
    z-index: 0;
    height: 350px;
    background-size: cover
  }

  .hero{
    border: 2px solid;
    background-image: url(./assets/heroinner.jpg);
    width: 100%;
    background-size: cover;
    height: 600px;
    width: 100%;
    z-index: 2;
  }
  
  .project1{
    border: 2px solid;
    background-image: url(./assets/Multicom.png);
    /* width: 100%; */
    background-size: cover;
    height: 450px;
    width: 350px;
    z-index: 0;
    /* border-radius: 20px; */
  }

  .project2{
    border: 2px solid;
    background-image: url(./assets/xcible.png);
    /* width: 100%; */
    background-size: cover;
    height: 450px;
    /* margin-inline: 2em; */
    width: 350px;
    z-index: 0;
    /* border-radius: 20px; */
    
  }

  .project3{
    border: 2px solid;
    background-image: url(./assets/Platinum.png);
    /* width: 100%; */
    background-size: cover;
    height: 450px;
    width: 350px;
    /* margin-inline: end; */
    /* margin-left: ; */
    z-index: 0;
    /* border-radius: 20px; */
  }
  




  /* .malhar{
    background-image: url(./assets/manhar.png);
    background-size: cover;
    margin-inline: auto;
    height: 200px;
    width: 500px;
    border: 2px solid black;
  }

  .avadhesh{
    background-image: url(./assets/avadhesh2.png);
    background-size: cover;
    margin-inline: auto;
    height: 200px;
    width: 500px;
    border: 2px solid black;
  } */
  

  
  
  