@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.h1{
  font-size: 65px;
  line-height: 80px;
  font-family: "roboto" , sans-serif;
  font-weight: 600;
  /* line-height: normal; */
}

h2{
    font-family: 'roboto';
    font-size: 40px;
    line-height: normal;
    font-weight: 500;
}

.h4{
  font-family: "roboto" , sans-serif;
}

h3{
    font-family: "roboto";
    font-size: xx-large;
}

h4{
    font-family: 'phophins';
    font-size: 70px;
    color: #de4441;
}

h5{
  font-family: 'roboto';
}

.card{
    border-radius: 15px ;
    background: #fbf5fa;
    /* margin: 1em; */
    padding: 1em;
}
span:hover{
    color: #de4441;
}

.values{
    border: 2px solid #e6e6e6;
    padding: 2em;
    border-radius: 30px;

}

button{
    font-family: "phophins" ;
    border-color :1px solid #524d4d;
    border-radius: 17px;
    padding: .4em 1.3em;
}

ul li {
    font-family: "roboto" , sans-serif;
    display: inline;
}

.max{
    /* border: 2px solid black; */
    max-width: 1400px;
    margin-inline: auto;
}

.max-width{
    max-width: 1200px;
    margin-inline: auto;
    margin-block: 2em;
}

p{
    font-family: 'roboto';
    font-weight: 300;
}


.heading {
    /* font-size: 70px; */
    background: linear-gradient(to right ,#ea4a48, rgb(135, 194, 238));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay{
    /* border: 2px solid red; */
    /* background-image: url('./assets/herobg.svg'); */

}
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 9));
    }
  }
  
  .slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }
  
  .slider .slide-track {

    display: flex;
    width: calc(250px * 18); /* Twice the original width for seamless looping */
    animation: scroll 10s linear infinite;
  }
  
  .slider .slide {
    height: 100px;
    width: 250px;
  }

  .bg{
    background-image: url(./assets/team.jpg);
    max-width: 1100px;
    margin-inline: auto;
    height: 500px;
    background-size: cover;
  }

  .hero1{
    /* border: 2px solid black; */
    background-image: url(./assets/building.png);
    border-radius: 15px;
    width: 400px;
    max-width: 600px;
    margin-inline: end;
    z-index: 0;
    height: 350px;
    background-size: cover
  }

    /* border: 2px solid; */
    
    /* z-index: 2; */
  

  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .z-0 {
    z-index: 0;
  }
  
  .z-10 {
    z-index: 10;
  }
  
  .object-cover {
    object-fit: cover;
  }
  
  .w-full {
    width: 100%;
  }
  
  .h-full {
    height: 100%;
  }
  

  
  
  .project1{
    /* border: 2px solid; */
    background-image: url(./assets/Multicom.png);
    /* width: 100%; */
    background-size: cover;
    height: 450px;
    width: 350px;
    z-index: 0;
    /* border-radius: 20px; */
  }

  .project2{
    /* border: 2px solid; */
    background-image: url(./assets/xcible.png);
    /* width: 100%; */
    background-size: cover;
    height: 450px;
    /* margin-inline: 2em; */
    width: 350px;
    z-index: 0;
    /* border-radius: 20px; */
    
  }

  .project3{
    /* border: 2px solid; */
    background-image: url(./assets/Platinum.png);
    /* width: 100%; */
    background-size: cover;
    height: 450px;
    width: 350px;
    /* margin-inline: end; */
    /* margin-left: ; */
    z-index: 0;
    /* border-radius: 20px; */
  }
  
  summary{
    font-family: "roboto";
    font-weight: 400;
    font: bold;
    font-size: 1.2em;
    line-height: normal;


  }


.collegue{
  background-image: url(./assets/team.jpg);
  border-radius: 15px;
  /* width: 600px; */
  max-width: 1200px;
  margin-inline: end;
  z-index: 0;
  height: 600px;
  background-size: cover
}
  /* .malhar{
    background-image: url(./assets/manhar.png);
    background-size: cover;
    margin-inline: auto;
    height: 200px;
    width: 500px;
    border: 2px solid black;
  }

  .avadhesh{
    background-image: url(./assets/avadhesh2.png);
    background-size: cover;
    margin-inline: auto;
    height: 200px;
    width: 500px;
    border: 2px solid black;
  } */
  

  
  
  